<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.data.text.yogestalt.title }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.data.text.yogestalt.subtitle }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for entry in site.timeline %}
                            <li{% cycle '', ' class="timeline-inverted"' %}>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="{{ site.base_url }}/img/about/{{ entry.img }}" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="subheading">{{ site.data.text.timeline[entry.item].title }}</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">{{ site.data.text.timeline[entry.item].text }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <li class="timeline-inverted">
                            <a href="#contact" class="page-scroll timeline-link">
                                <div class="timeline-image">
                                 <h4>{{ site.data.text.yogestalt.contact_link}}</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>