 <!-- Offers Modals -->
 {% for offer in site.offers %}
    {% assign info = site.data.text.offers[offer.item] %}
    <div class="modal fade" id="offer-{{ offer.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal__grid">
            <div class="modal__left img-offer-{{ offer.modal-id }}"></div>
            <div class="modal__right">
                <div class="modal__header">
                    <div class="modal_header_title">
                        <h5>{{ info.title }}</h5>
                        <h4 class="text-muted">{{ info.subtitle }}</h4>
                        <hr>
                    </div>
                    <div class="modal_header_close">
                        <a data-dismiss="modal"><h4 class="fa fa-close"></h4></a>
                    </div>
                </div>
                <div class="modal__content">
                    {% for entry in info.description %}
                    <p class="large">{{ entry }}</p>
                    {% endfor %}
                </div>
                <div class="modal__footer">
                    {% if info.cta-link %}
                    <a class="btn btn-xl btn-xl-secondary modal__cta" href="{{ info.cta-link }}" target="_blank">
                        <i class="fa fa-heart"></i> {{ info.cta }}
                    </a>
                    {% else %}
                    <a class="btn btn-xl btn-xl-secondary page-scroll modal__cta" href="#contact" data-dismiss="modal">
                        <i class="fa fa-heart"></i> {{ info.cta }}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% for iframe in site.iframes %}
<div class="modal fade" id="{{ iframe.id }}" tabindex="-1" role="dialog" aria-hidden="true" data-lazy="true">
 <div class="modal__large">
     <div class="modal__header">
         <div class="modal_header_title">
             <h5>{{ iframe.title }}</h5>
             <hr>
         </div>
         <div class="modal_header_close">
             <a data-dismiss="modal"><h4 class="fa fa-close"></h4></a>
         </div>
     </div>
     <div class="iframe-container">
         <iframe src="about:blank"
                 data-src="{{ iframe.url }}"
                 frameborder='0'
                 scrolling='true'
                 style="overflow:hidden;height:100%;width:100%"
                 width='100%'
                 height='100%'></iframe>
     </div>
 </div>
</div>
{% endfor %}
