---
layout: modality
title: Sex & Intimacy Coaching
description: Changing the way we speak about sex
thumbnail: /images/sex-coach-thumbnail.jpg
image: https://source.unsplash.com/cf1BbWH6qyc/2000x1322?a=.png
intro_image: /images/couple-small.jpg
practitioners:
 - georgia
faqs:
 - question: Who do you work with?
   answer:
    - >
     We offer an inclusive and judgment-free space for people of all gender, orientation and identity. People of all
     relationship choices and stages are welcomed, as we educate, empower, support and coach on a vast range of sexual
     wellbeing topics.

 - question: Will this benefit me if I'm single or inexperienced?
   answer:
    - >
     We work with all people regardless of their relationship choice or level of experience. The sessions will be useful for
     anyone who is committed, curious and interested.

 - question: I want to bring my partner but I'm not sure how to tell them
   answer:
    - >
     This is very common in the couples we work with, it may feel tricky to broach the discussion of seeking support. If this
     is the case with you, We'd recommend booking in a consultation session and we can work out how to best introduce the
     idea for you, your partner and your relationship.

 - question: How many sessions will it take for me to get to where I want to be?
   answer:
    - >
     This depends on where you're at when you begin and why you're investing in sessions. This work doesn't happen over
     night, you don't go to the gym once and expect to see instant results, the same goes for sex and intimacy. Whilst we do
     offer one off sessions, most people book in for any where between 5-20+ sessions. We work with people who are committed
     and value the work.

 - question: I'm slightly nervous, will I feel safe?
   answer:
    - >
     Grounding, safety and agency are fundamental to our work. Each session is tailored to you and how you are showing up on
     the day. It is natural to feel uncomfortable, awkward, anxious or nervous at first as speaking about sex is like
     learning a knew language (and we wouldn't expect you to speak fluent German in our first session). You may feel
     uncomfortable and that's ok! You will not be pushed beyond your boundaries.

 - question: How often can I book in a session?
   answer:
    - >
     This depends on your schedule and ours, you may book in weekly, fortnightly, monthly, etc. Whichever supports you most.

 - question: Will you give me homework?
   answer:
    - >
     Yes! But we call this homeJOY (lame, but you'll get used to it) because the intention is to integrate, explore,
     understand and / or be curious about pleasure rather than set you "work" that isn't useful to you.
---

<section class="info">
 <div class="container flex light-blue">
  <div class="square-image" style="background-image: url({% include relative-src.html src=page.intro_image %}); min-width: 200px"></div>
  <div class="text-container">
   <p>
    Our aim is to bring mindfulness to sex and empower people to explore their sensuality through intimate, authentic
    and dynamic connections with self and others. We offer coaching for individuals, couples and groups and help
    people to meet or reclaim their sensual identity.
   </p>
   <p>
    With training in direct experiential learning, we apply a client-centred approach to educate and support people to
    become more aware of their bodies, sex and sexuality.
   </p>
  </div>
 </div>
</section>

<section class="collapsed-info">
 <div class="container">
  <p>
   You are welcomed into each session with a practice of mindfulness to help you slow down, tune in and be present.
   We then identify what you'd like to work on, which could range from but is not limited to emotional responses,
   physical issues or a pattern of behaviour you've seen come up in your life. Each session is unique and tailored to
   your specific experiences while supporting you with empathy, presence and congruence.
  </p>
  <p>
   This is for you if you want to explore: Intimacy & relationships, Authentic communication, Mindful pleasure,
   Pain & discomfort, Anatomy & pleasure, Performance anxiety, Ejaculation choice, Arousal & attraction,
   Expression & voicing desires, Conscious touch, Sexual identity, Breath & movement.
  </p>
 </div>
</section>

{% include faqs.html faqs=page.faqs %}

<section class="info">
 <div class="container">
  <h2 class="editable">Learn more about Sex & Intimacy</h2>
  <p>
   Look at our <a href="/category/sex-and-intimacy/">Sex & Intimacy articles</a> in our blog or <a href="/contact/">get
   in touch</a> if you want to book a session or have any questions.
  </p>
 </div>
</section>
