body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #{{ site.data.template.color.secondary-dark }};
}

.text-muted {
    color: #{{ site.data.template.color.muted }};
}

.text-muted-light {
    color: #{{ site.data.template.color.muted-light }};   
}

.text-primary {
    color: #{{ site.data.template.color.primary }};
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 18px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #{{ site.data.template.color.primary }};
}

a:hover,
a:focus,
a:active,
a.active {
    color: #{{ site.data.template.color.secondary }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-site {
    border-radius: 3px;
    font-family: {{ site.data.template.font.primary }};
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
}

.btn-site:hover,
.btn-site:focus,
.btn-site:active,
.btn-site.active,
.open .dropdown-toggle.btn-site {
    color: #fff;
    background-color: #{{ site.data.template.color.secondary }};
}

.btn-site:active,
.btn-site.active,
.open .dropdown-toggle.btn-site {
    background-image: none;
}

.btn-site.disabled,
.btn-site[disabled],
fieldset[disabled] .btn-site,
.btn-site.disabled:hover,
.btn-site[disabled]:hover,
fieldset[disabled] .btn-site:hover,
.btn-site.disabled:focus,
.btn-site[disabled]:focus,
fieldset[disabled] .btn-site:focus,
.btn-site.disabled:active,
.btn-site[disabled]:active,
fieldset[disabled] .btn-site:active,
.btn-site.disabled.active,
.btn-site[disabled].active,
fieldset[disabled] .btn-site.active {
    border-color: #{{ site.data.template.color.primary }};
    background-color: #{{ site.data.template.color.primary }};
}

.btn-site .badge {
    color: #{{ site.data.template.color.primary }};
    background-color: #fff;
}


.btn-site-lg {
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.btn-site-md {
    padding: 10px 20px;
    text-transform: none;
    font-size: 18px;
    font-weight: lighter;
    white-space: normal;
}

.btn-site-wide {
    width: 100%;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #{{ site.data.template.color.secondary }};
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #{{ site.data.template.color.primary }};
    background-color: #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #{{ site.data.template.color.primary }};
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
    text-shadow: none;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #{{ site.data.template.color.secondary }};
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    color: #fff;
    background: url('{{ site.baseurl }}/img/header-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;

}

.intro-titles {
    background-image: url('{{ site.baseurl }}/img/brushstroke.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header .intro-text .intro-lead-in {
    font-family : "Cormorant Garamond";
    color: #eee;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 5px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-size: 38px;
    font-weight: 200;
    line-height: 50px;
    letter-spacing: 10px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        font-size: 80px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        font-family: "futura-pt", sans-serif;
        font-size: 55px;
        line-height: 55px;
    }
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 100px 0;
    }
    section h2.section-heading {
        font-size: 40px;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#offers .offers-item {
    right: 0;
    margin: 0 0 15px;
}

#offers .offers-item .offers-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#offers .offers-item .offers-link .offers-hover {
    position: absolute;
    width: 100%;
    height: 100%;
}

#offers .offers-item .offers-link .offers-hover:hover {
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba(243, 144, 150,.7); /* Fallback when no plugin support */
    background: rgba({{ site.data.template.color.primary | hex_to_rgb | join: ',' }}, .7);
}

#offers .offers-item .offers-link .offers-hover .offers-hover-content {
    position: absolute;
    top: auto;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#offers .offers-item .offers-link .offers-hover:hover .offers-hover-content {
    top: 50%;
    margin-top: -12px;
}

#offers .offers-item .offers-link .offers-hover .when-no-hover {
    opacity: 1;
    bottom: 0;
    width: 100%;
    display: inline-block;
    height: 30px;
}

#offers .offers-item .offers-link .offers-hover .when-hover {
    opacity: 0;
}

#offers .offers-item .offers-link .offers-hover:hover .when-no-hover {
    opacity: 0;
}

#offers .offers-item .offers-link .offers-hover:hover .when-hover {
    opacity: 1;
}


#offers .offers-item .offers-link .offers-hover .offers-hover-content i {
    margin-top: -12px;
}

#offers .offers-item .offers-link .offers-hover .offers-hover-content h3,
#offers .offers-item .offers-link .offers-hover .offers-hover-content h4 {
    margin: 0;
}

#offers .offers-caption-info {
    padding: 25px;
}

#offers .offers-item .offers-caption {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#offers .offers-item .offers-caption h4 {
    margin: 0;
    text-transform: none;
}

#offers .offers-item .offers-caption p {
    margin: 0;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 16px;
    font-style: italic;
}

#offers * {
    z-index: 2;
}

.offers-caption-booking {
    overflow: hidden;
}

a.booking-link {
    text-align: center;
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 0;
    font-family: {{ site.data.template.font.primary }};
    background-color: #{{ site.data.template.color.primary }};
}

a.booking-link:hover {
    background-color: #{{ site.data.template.color.secondary }};
}

.booking-type-simple {
    width: 100%;
}

.booking-type-double {
    display: flex;
    transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
}

.booking-type-double .item {
    display: flex;
    overflow: hidden;
    width: 51%;
}

.booking-type-double .item:first-child {
    margin-right: 2px;
    margin-left: -5px;
}

.booking-type-double .item:last-child {
    margin-left: 2px;
    margin-right: -50px;
}

.booking-type-double .item > * {
    transform: skew(15deg);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg);
    margin: 0 -5px;
    border: none;
    flex: 1;
}


@media(min-width:767px) {
    #offers .offers-item {
        margin: 0 0 30px;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 25px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

a.timeline-link{
    color: white;
    text-decoration: none;
}

a.timeline-link:hover .timeline-image {
    background-color: #{{ site.data.template.color.secondary }};
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 25px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 0;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 0 20px 20px;
    }
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
    padding-left: 50px;
    padding-right: 50px;
}

aside.clients img {
    margin: 50px auto;
}

section#contact {
    background-color: #222;
    background-image: url('{{ site.baseurl }}/img/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 155px;
}

section#contact .form-control:focus {
    border-color: #{{ site.data.template.color.primary }};
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

.contact-details {
    color: white;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 5px;
    font-family: {{ site.data.template.font.primary }};
}

.contact-details li {
    margin-bottom: 20px;
}

@media(min-width:1200px) {
    .contact-separator {
        display: none;
    }
}

footer {
    text-align: center;
}

footer img.logo {
    padding: 25px;
    max-width: 50%;
    height: auto;
    
    text-transform: uppercase;
    text-transform: none;
    font-family: {{ site.data.template.font.primary }};
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #{{ site.data.template.color.secondary }};
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #{{ site.data.template.color.primary }};
}

::selection {
    text-shadow: none;
    background: #{{ site.data.template.color.primary }};
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #{{ site.data.template.color.primary }};
}

.alert-success {
    color: #fff;
    background-color: #{{ site.data.template.color.secondary }};
    border-color: #fff;
}


{% for offer in site.offers %}
.img-offer-{{ offer.modal-id }} {
    background-size: cover;
    background-image: url('{{ site.baseurl }}/img/offers/{{ offer.img }}');
}
{% endfor %}

.modal__large{
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2px;
    background-color: white;
    display: block;
    position: fixed;
}

.modal__grid{
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2px;
    background-color: white;
    display: block;
    position: fixed;
}

.modal__left {
    display: none;
}

.modal__right {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    float : left;
    clear : none;
    left: 0;
    top: 0;
    height : 100%;
    width : 100%;
    position: relative;
}

.modal__header{
    align-self: flex-start;
    text-align: center;
    padding: 15px 10px 0 15px;
    float : left;
    clear : none;
    width : 100%;

    display: flex;
    flex-direction: row;
    position: relative;
}

.modal_header_title {
    align-self: flex-start;
    flex: 1
}

.modal_header_title h4 {
    font-size: 13px;
}

.modal_header_close  > a {
    font-size: 19px;
    color: grey;
    float: right;
}

.modal_header_close > a:hover {
    color: black;
}

.modal__content {
    padding: 0 10px 0 15px;
    float : left;
    clear : none;
    flex: 1;
    -webkit-flex: 1;
    overflow-y: scroll;
}

.modal__footer {
    align-self: flex-end;
    padding: 10px;
    float : left;
    clear : none;
    width : 100%;
}

.modal__cta {
    font-size: 16px;
    width: 100%;
    position: relative;
    bottom: 0px;
}

@media(min-width:768px) {
    .modal__cta {
        font-size: 18px;
    }

    .modal__header_title h4 {
        font-size: 19px;
    }
    .modal__content {
        padding: 10px 30px 10px 30px;
    }

    .modal__grid{
        height: 90vh;
        width: 90%;
        top: 50%;
        left: 5%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .modal__left {
        display: block;
        float : left;
        clear : none;
        height : 100%;
        width : 20%;
    }

    .modal__right {
        width : 80%;
    }
}

@media(min-width:992px) {
    .modal__content {
        padding: 10px 30px 10px 30px;
    }

    .modal__grid{
        height: 80vh;
        width: 90%;
        top: 50%;
        left: 5%;
    }

    .modal__large{
        height: 98vh;
        width: 95%;
        top: 50%;
        left: 2.5%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.iframe-container {
    width: 100%;
    height: 100%;
    padding: 10px;
}